<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue dans le page Membre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${user.firstname} +' '+ ${user.lastname}">Bob Sull</h1>

        <h2>Informations</h2>
        <p><strong>Username:</strong> <span th:text="${user.login}">bob.sull</span></p>
        <p><strong>Prenom:</strong> <span th:text="${user.firstname}">Bob</span></p>
        <p><strong>Nom:</strong> <span th:text="${user.lastname}">Sull</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">John@gmail.com</span></p>
        <p><strong>Language:</strong> <span th:text="${user.langue}">FR</span></p>

        <div class="actions">
            <a th:href="@{/users/{id}/edit(id=${user.id})}">Modifier</a>
            <form th:id="|deleteForm-${user.id}|"
                  th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                <a href="#" th:onclick="|if(confirm('Confirmer la suppression de l'utilisateur #${user.id}'))
                 		document.getElementById('deleteForm-${user.id}').submit();
                 		return false;|">Supprimer</a>
            </form>
        </div>
        <nav><a th:href="@{/users}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>