<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <title>Checkout</title>
  <style>
      body {
          font-family: 'arial';
      }
      #checkout-form input,
      #checkout-form button {
          display: block;
          margin: 12px;
      }
  </style>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

  <script defer>

    function calculateTotal() {
      var total = 0.0;
      document.querySelectorAll('input[name="seats"]').forEach(function(input) {
        var id = input.id.split('_')[1];
        var price = parseFloat(document.getElementById('price_' + id).textContent);
        var seats = parseInt(input.value);
        total += price * seats;
      });
      document.getElementById('totalValue').textContent = total.toFixed(2);
    }

    window.addEventListener('DOMContentLoaded', calculateTotal);

    
    document.addEventListener('input', function(e) {
      if (e.target.name === 'seats') {
        calculateTotal();
      }
    });

  </script>
  <script>
    function redirectToPayment() {
      var total = document.getElementById('totalValue').textContent;
      var paymentUrl = '/payment?amount=' + total;
      window.location.href = paymentUrl;
    }
  </script>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <form action='/charge' method='POST' id='checkout-form'>
      <input type='hidden' th:value='${amount}' name='amount' />
      <label>Price:<span th:text='${amount/100}' /></label>
      <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
      <script
          src='https://checkout.stripe.com/checkout.js' 
          class='stripe-button'
          th:attr='data-key=${stripePublicKey},
                   data-amount=${amount},
                   data-currency=${currency}'
          data-name='Reservation'
          data-description='Reservation checkout'
          data-locale='auto'
          data-zip-code='false'>
      </script>
  </form>

  </div>
</div>

</body>
</html>

