<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue dans le projet pid 2022-2023</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container text-center">
        <h1>Bienvenue dans le projet pid 2022-2023 </h1>
        <a class="h2" th:href="@{/locations}">Locations</a>
        <a class="h2" th:href="@{/list_users}">List users</a>

    </div>

    <div class="container text-center">
        <a class="h2" th:href="@{/login}">Login</a>
        <h3><a th:href="@{/signup}">S'inscrire</a></h3>
    </div>
</body>
</html>