<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Creation d'un spectacle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <style>
        .fieldError { color: red; }
    </style><script>
function addField() {
    let div = document.createElement('div');
    div.className = 'dateTimeField';

    let input = document.createElement('input');
    input.type = 'datetime-local';
    input.name = 'representationDateTime[]';

    let removeButton = document.createElement('button');
    removeButton.innerHTML = 'Remove';
    removeButton.type = 'button';
    removeButton.className = 'removeButton';
    removeButton.onclick = function() {
        removeField(removeButton);
    }

    div.appendChild(input);
    div.appendChild(removeButton);

    document.getElementById('dateTimeFields').appendChild(div);
}

function removeField(input) {
    document.getElementById('dateTimeFields').removeChild(input.parentNode);
}
</script>

</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1>Nouveau spectacle</h1>

        <form th:action="@{/shows/create}" th:object="${show}" method="post">
            <div class="form-group">
                <label for="title">Titre:</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" required>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="fieldError"></p>
            </div>
            <div class="form-group">
                <label for="title">Description:</label>
                <input type="text" class="form-control" id="title" th:field="*{description}" required>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="fieldError"></p>
            </div>
             <div class="form-group">
                  <label for="posterUrl">Poster:</label>
                  <input type="text" class="form-control" id="posterUrl" th:field="*{posterUrl}" required>
                  <p th:if="${#fields.hasErrors('posterUrl')}" th:errors="*{'posterUrl'}" th:errorclass="fieldError"></p>
            </div>
            <div class="form-group">
                <label for="location">Lieu:</label>
                <select id="location" th:field="*{locationId}" class="form-control">
                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.designation}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="Author">Auteur:</label>
                <select id="author" th:field="*{authorId}" class="form-control">
                    <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.firstname + ' ' + artist.lastname}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="Director">Metteur En Scene:</label>
                <select id="director" th:field="*{directorId}" class="form-control">
                    <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.firstname + ' ' + artist.lastname}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="Distribution">Distribution:</label>
                <select id="distribution" th:field="*{distributionId}" class="form-control">
                    <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.firstname + ' ' + artist.lastname}"></option>
                </select>
            </div>
            <div id="dateTimeFields">
                <div class="dateTimeField">
                    <input type="datetime-local" name="representationDateTime[]">
                    <button class="removeButton" type="button" onclick="removeField(this)">Remove</button>
                </div>
            </div>
            <button id="addButton" type="button" onclick="addField()">Add Date and Time</button>
            <div class="form-group">
                <label for="price">Prix:</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" required>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="fieldError"></p>
            </div>
            <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bookable" th:field="*{bookable}">
                  <label class="form-check-label" for="bookable">Réservable </label>
             </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
            </div>
        </form>

        <nav class="mt-3">
            <button class="btn btn-secondary" onclick="goBack()">Retour</button>
          </nav>
        
          <script>
            function goBack() {
                window.history.back();
            }
          </script>
  
    </div>
</div>
</body>
</html>