<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Fiche d'un spectacle</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <div class="jumbotron">
      <h1 class="display-4" th:text="${show.title}">titre</h1>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Détails du spectacle</h2>

        <div class="row">
          <div class="col-md-6">
            <p th:if="${show.posterUrl}"><img th:src="@{'/images/'+${show.posterUrl}}" th:alt="${show.title}" src="/images/default.jpg" class="card-img-top"></p>
            <canvas th:unless="${show.posterUrl}" width="200" height="100" style="border:1px solid #000000;"></canvas>
          </div>
          <div class="col-md-6">
            <p><strong>Lieu de création:</strong></p> <span><p th:if="${show.location}" th:text="${show.location.designation}">location</p>
            <p th:unless="${show.location}"><em>Pas disponible</em></p></span>
            <p><strong>Prix:</strong> <span th:text="${show.price} + ' €'">9.99 €</span></p>
            <p th:if="${show.bookable}"><em>Réservable</em></p>
            <p th:unless="${show.bookable}"><em>Non réservable</em></p>
          </div>
        </div>

        <h3>Représentations</h3>
        <ul class="list-group">
          <li class="list-group-item" th:each="representation : ${show.representations}">
            <span th:text="${#temporals.format(representation.eventTime,'dd-MM-yyyy HH:mm')}">12-10-2012 13:30</span>
            <form th:action="@{/addToCart/{id}(id=${representation.id})}" method="post">
              <button class="btn btn-danger" type="submit">Réserver</button>
            </form>
          </li>
        </ul>
        <p class="mt-2" th:if="${#lists.size(show.representations)==0}">Aucune représentation</p>



        <h3>Artistes</h3>
        <div class="card-group">
          <div class="card">
            <div class="card-header">Auteurs</div>
            <div class="card-body">
              <p class="card-text">
        <span th:each="auteur,iter : ${collaborateurs['auteur']}"
              th:text="${auteur.firstname}+' '+${auteur.lastname}
	        	+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
              	Firstname Lastname
          	</span>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-header">Metteurs en scène</div>
            <div class="card-body">
              <p class="card-text">
        <span th:each="scenographe,iter : ${collaborateurs['scénographe']}"
              th:text="${scenographe.firstname}+' '+${scenographe.lastname}
      		+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
              	Firstname Lastname
          	</span>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-header">Distribution</div>
            <div class="card-body">
              <p class="card-text">
        <span th:each="comedien,iter : ${collaborateurs['comédien']}"
              th:text="${comedien.firstname}+' '+${comedien.lastname}
      		+ (${iter.count}==${iter.size}-1 ? ' et ':(${iter.last}?'':', '))">
              	Firstname Lastname
          	</span>
              </p>
            </div>
          </div>
        </div>


        <nav class="mt-3"><a th:href="@{/shows}" class="btn btn-secondary">Retour </a></nav>


      </div>
    </div>
  </div>
</div>
</body>
</html>


